$all: #fff;
$disabled:#1f699a;
$not-tested:#439bd5;
$testing: #3b8183;
$good: #c5df9f;
$warning:#FAD089;
$bad:#b50f19;
$sev4:#FAD089;
$sev3: #FF9C5B;
$sev2: #d5621c;
$sev1: #b50f19;
$error: $sev2;
$available: $testing;
$not-monitored: $not-tested;